*{
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
body{
    background-image: url(../imagen/Programacion-codigo-768x432.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
    position: relative;
}
.nav{
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 10px;
}

.nav li{
   display: inline-block;
}
.nav a{
color:rgb(255, 156, 25);
text-decoration: none;
font-size: 20px;
padding: 15px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.nav li a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}

.nav li a:hover{
    background: rgb(248, 240, 240);
    color: rgb(245, 4, 4);
}

.Logo img{
    width: 150px;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
    border-radius: 50px;
    object-fit: 30px;
    filter: invert(1);
}
.text{
    position: absolute;
    margin: 20% 30%;
    text-align: center;
}

.text h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 60px;
}
.text a{
    border: 3px solid red;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}